.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}

.btn {
  background-color: $general-button-background;
  color: $general-button;
  padding: 5px;
  width: auto;
  &--block {
    width: 100%;
  }
}
