html {
    font-size: 62.5%;
}

body {
    font-family: $font-body;
    font-weight: $font-body-weight;
    font-style: $font-body-style;
    font-size: 1.6rem;
    color: $general-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

body,
input,
textarea,
button,
select {
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
}

a {
    color: $general-link;
    text-decoration: none;
}

a:hover {
    color: $general-link-hover;
}

a:focus {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}