// .product-single__thumbnail-image {
//   border: 2px solid transparent;
//   .active-thumbnail & {
//     border-color: $color-border;
//   }
// }
.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__main_image {
        flex-basis: calc((100% / 5) * 2);
    }
    &__main_image.full {
        flex-basis: calc((100% / 5) * 3);
        width: calc((100% / 5) * 3);
        display: flex;
        flex-wrap: wrap;
        .main_image {
            flex-basis: 100%;
            text-align: center;
        }
    }
    &__main_image .alt_images {
        .slick-prev {
            left: 0;
            z-index: 15; // background: red;
            /*to notice it, is white*/
        }
        .slick-next {
            right: 0;
            z-index: 15; // background: red;
            /*to notice it, is white*/
        }
        .slick-prev:before,
        .slick-next:before {
            color: #000;
        }
        min-width: 0;
        min-height: 0; // width: percentage(3/5); // display: block; // width: calc((100% / 5) * 3);
        // // .detail_image {
        // //   text-align: center;
        // //   flex: 1 0 percentage(1/3); // margin-bottom: 10px;
        // // }
        // img {
        //     margin: 0 auto;
        // }
    }
    .slick-carousel {
        display: none;
    }
    .slick-carousel.slick-initialized {
        display: block;
    } // &__alt_images {
    //   max-height: 440px;
    //   display: flex;
    //   overflow: hidden;
    //   flex-direction: column;
    //   flex-wrap: nowrap;
    //   justify-content: space-between;
    //   /* flex-basis: calc((100% / 5) * 1); */
    // }
    &__alt_images {
        .slick-prev,
        .slick-next {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto;
            color: #000;
            transform: rotate(90deg);
            line-height: initial;
            font-size: initial;
            &::before {
                content: "";
            }
        }
        &--left {
            order: -1;
        }
        &--right {
            order: initial;
        }
        width: 20%;
        display: flex;
        flex-direction: column;
        .detail_image {
            text-align: center;
            flex: 1 0 percentage(1/3); // margin-bottom: 10px;
        }
        img {
            margin: 0 auto;
        }
    }
    .main_content {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        * {
            margin-top: 10px;
        }
        .variant_label {
            float: none;
        }
        label {
            display: block; // margin-top: 10px;
        }
        @include media-query($medium-up) {
            padding: 0;
            flex-basis: calc((100% / 5) * 2);
        }
        input[type="radio"] {
            display: none;
        }
        label {
            float: left;
            margin-right: 10px;
            cursor: pointer;
        }
        label.swatch_container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .variant_option_1::after {
            content: "";
            clear: both;
        }
        .swatch {
            margin: 0;
            display: inline-block;
            border: 1px solid black;
            padding: 5px;
            img {
                width: 25px;
                height: 25px;
            }
        }
        .color {
            width: 25px;
            height: 25px;
        }
        .circle {
            border-radius: 50%;
        }
        input[type="radio"]:checked+.swatch {
            box-shadow: 0 0 0 2px #000;
            border: 3px solid white;
        }
    }
    .related_products {
        .related-products-title {
            flex-basis: 100%;
            text-align: center;
        }
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        .product-2 {
            flex-basis: percentage(1/2);
        }
        .product-3 {
            flex-basis: percentage(1/3);
        }
        .product-4 {
            flex-basis: percentage(1/4);
        }
        .product-5 {
            flex-basis: percentage(1/5);
        }
    }
}