// .slideshow {
//     * {
//         list-style: none;
//     }
//     img {
//         width: 100%;
//     }
// }
// .slider {
//     border: none;
//     margin: 0;
//     li {
//         position: relative; // max-height: 600px;
//     }
//     .flex-direction-nav {
//         position: absolute;
//         top: 50%;
//         width: 100%;
//         transform: translateY(-50%);
//     }
//     .flex-direction-nav .flex-prev {
//         left: 0;
//     }
//     .flex-direction-nav .flex-next {
//         right: 0;
//     }
//     .caption {
//         position: relative;
//         text-align: center;
//         margin-top: 15px;
//     }
//     .caption * {
//         margin: 0;
//         margin-bottom: 15px;
//     }
//     .caption__btn {
//         padding: 10px;
//         display: inline-block;
//         width: auto;
//     }
//     @include media-query($medium-up) {
//         .caption {
//             margin-top: 0;
//         }
//         .caption--left,
//         .caption--none {
//             position: absolute;
//             bottom: 30%;
//             left: 60px;
//             transform: translateX(-300px);
//             opacity: 0;
//         }
//         .caption--right {
//             position: absolute;
//             bottom: 30%;
//             right: 60px;
//             transform: translateX(300px);
//             opacity: 0;
//             &__btn {
//                 padding: 5px;
//             }
//         }
//         .flex-active-slide .caption--none,
//         .flex-active-slide .caption--left,
//         .flex-active-slide .caption--right {
//             transition: 0.2s all ease-out 0.7s;
//             transform: translateX(0);
//             opacity: 1;
//         }
//     }
// }
$slideshow-height-small: 475px;
$slideshow-height-medium: 650px;
$slideshow-height-large: 775px;
$slideshow-loader: #fff;
$z-index-slideshow-image: 1;
$z-index-slideshow-video: 2;
$z-index-slideshow-text: 3;
$z-index-slideshow-controls: 4;
$color-slideshow-close-bg: #fff;
$color-slideshow-close-text: #000;
$gutter-site: 55px;
$gutter-site-mobile: 22px;
$color-slideshow-arrows: #000;
$color-slideshow-dots: #fff;
$transition-text-slideshow: all 0.6s cubic-bezier(0.44, 0.13, 0.48, 0.87);
$transition-image-slideshow: opacity 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
.slideshow-wrapper {
  position: relative;
}

.slideshow {
  overflow: hidden;
  height: $slideshow-height-small - 150;
  margin-bottom: 0;
  &.slideshow--medium {
    height: $slideshow-height-medium - 150;
  }
  &.slideshow--large {
    height: $slideshow-height-large - 200;
  }
  @include media-query($medium-up) {
    height: $slideshow-height-small;
    &.slideshow--medium {
      height: $slideshow-height-medium;
    }
    &.slideshow--large {
      height: $slideshow-height-large;
    }
  } // Make sure slides fill full height
  .slideshow__slide,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-prev,
  .slick-next {
    // top: 0;
    height: 100%;
    margin-top: 0;
    width: 40px;
    z-index: 9999;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  img {
    width: 100%;
  }
  &__video {
    // position: relative;
    width: 100%;
    height: 100%;
  }
  &__video--vimeo {
    // padding-bottom: 56.25%; // height: 0;
    // overflow: hidden;
    // position: relative;
    iframe {
      //   &::before {
      //     content: "";
      //     position: relative;
      //     padding-bottom: 200%;
      //     transform: translateY(-35.95%);
      //   }
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
